* {
    box-sizing: border-box; 
    padding: 0; 
    margin: 0; 
}


#header {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    background-color: aqua; 
    padding: 1rem 0;   
}
#header h2 {
    margin: 1rem 0; 
}
#header div {
    display: flex; 
    margin-bottom: 1rem;
    margin: 0 auto; 
}

.container {
    width: 80vw; 
    margin: 0 auto; 
}
button {
    cursor: pointer;
    height: 2.5rem;
    padding: 0 1rem;  
}
input {
    height: 2.5rem;
    width: 15rem; 
    padding-left: .5rem; 
}

#listContainer {
    width: auto; 
    height: auto;
    margin-top: 1.5rem;
    list-style-type: none;
}

.listItem {
    display: flex; 
    align-items: center; 
    height: auto;
    width: 50%;
    padding: 0 1rem; 
    font-size: 1.5rem;
    border: 1px solid rgba(0,0,0, .0666);
    border-radius: 3px; 
    

}

.listItem span {
    font-size: 2rem; 
    padding: .5rem 0 ;
    cursor: pointer; 
    margin-left: auto; 
}

.listItem:nth-child(odd) {
    background-color: aqua; 
}
.listItem:nth-child(even) {
    background-color: #fff; 
}